<?php

namespace Database\Seeders;

use App\Models\User;
use Illuminate\Database\Seeder;
use Illuminate\Support\Facades\Hash;

class UserSeeder extends Seeder
{
    /**
     * Run the database seeds.
     */
    public function run(): void
    {
        $data = [
            [ "email" => "admin@mail.com", "name" => "Admin", "password" => Hash::make("123") ],
            [ "email" => "xr@mail.com", "name" => "FF Xhora", "password" => Hash::make("123") ],
        ];

        foreach ($data as $row) {
            User::create($row);
        }
    }
}
